<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- <script src="/media/images/soundmanagerv297a-20170601/script/soundmanager2.js"></script> -->

    <style>
        .card {
			display: inline-block;
			padding: 10px;
			margin: 10px;
		}
    </style>

    <title>Document</title>
</head>
<body>
    {% load static %}

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CURIO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/djcurio/translate">Translate</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/curiobanner.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>



      <!-- ################################# CARDS ################################## -->

      <h2 style="padding-left: 10%; padding-top: 4%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Trending Videos</h2>
      <div class="row" style="padding-top: 1%; padding-left: 10%;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
    </div>
    <hr>


    <h2 style="padding-left: 10%; padding-top: 4%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Liked Videos</h2>
      <div class="row" style="padding-top: 1%; padding-left: 10%;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
    </div>
    <hr>


    <h2 style="padding-left: 10%; padding-top: 4%; font-family: Verdana, Geneva, Tahoma, sans-serif;">Watch Later</h2>
      <div class="row" style="padding-top: 1%; padding-left: 10%;">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'assets/playbutton.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">WATCH</a>
                    </div>
                </div>
    </div>



      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

  </body> 
  </html>
  
</body>
</html>